<div >          
  <!--toggle sidebar button-->         
  <h1 class="page-header">
        Stocks             
  </h1>
  <div class="panel panel-default">
  <div class="panel-heading table-heading" >Filters      
   <span class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true" ng-click="isFilterCollapsed=false" ng-show="isFilterCollapsed"></span>
   <span class="glyphicon glyphicon-chevron-down pull-right"  aria-hidden="true" ng-click="isFilterCollapsed=true" ng-hide="isFilterCollapsed"></span>
   <span class="glyphicon glyphicon-search pull-right" aria-hidden="true"  ></span>
  </div>
  <div class="panel-body" collapse="isFilterCollapsed">
    <div class="row compact-row">    
      <div class="col-md-2">
        <div class="form-group">
          <label for="opening">Opening</label>
          <input type="text" class="form-control" id="opening" name="opening" placeholder="">
        </div>
      </div> 
      
      <div class="col-md-2">
       <div class="form-group">
          <label for="wiredia">Wiredia</label>
          <input type="text" class="form-control" id="wiredia" name="wiredia" placeholder="">
        </div>
      </div>

      <div class="col-md-2">
       <div class="form-group">
          <label for="length">Length</label>
          <input type="text" class="form-control" id="length" name="length" placeholder="">    
         </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="width">Width</label>
          <input type="text" class="form-control" id="width" name="width" placeholder="">
        </div>
      </div>
      <div class="col-md-2">
       <div class="form-group">
          <label for="thickness">Thickness</label>
          <input type="text" class="form-control" id="thickness" name="thickness" placeholder="">    
         </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="material">Material</label>
          <input type="text" class="form-control" id="material" name="material" placeholder="">
        </div>
      </div> 
    </div><!--/row-->
    <div class="row compact-row">    
 
      
      <div class="col-md-2">
       <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control">
            <option value="">All</option>
            <option value="Green">Green</option>            
            <option value="Red">Red</option>            
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="level">Level</label>
          <select class="form-control">
            <option value="">All</option>
            <option value="Green">Green</option>            
            <option value="Red">Red</option>            
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="width" style="display:block">Ready / Raw</label>
          <select class="form-control">
            <option value="">All</option>
            <option value="Green">Ready</option>            
            <option value="Red">Raw</option>            
          </select>
        </div>
      </div>
       
      <div class="col-md-2">
       <div class="form-group">
          <label for="wiredia" style="display:block">Is clamped</label>
          <select class="form-control">
            <option value="">All</option>
            <option value="Green">Clamped</option>            
            <option value="Red">Not clamped</option>            
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="customer">Customer</label>
          <input type="text" class="form-control" id="customer" name="customer" placeholder="">
        </div>
      </div>
    </div><!--/row-->
    <div class="row ">  
      <div class="col-md-2">
       <div class="form-group">
          <label for="added">Added</label>
          <div class="input-group">
            <input type="text" class="form-control" id="added" name="added" placeholder=""
               datepicker-popup  ng-model="date.Startdt" is-open="StartOpened"    
               close-text="Close" readonly>    
            <span class="input-group-addon btn" ng-click="openStart($event)">
              <i class="glyphicon glyphicon-calendar"></i> 
            </span>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="toDate">To</label>
          <div class="input-group">
            <input type="text" class="form-control" id="toDate" name="toDate" 
            datepicker-popup  ng-model="date.Todt" is-open="ToOpened"    close-text="Close" placeholder="" readonly>    
            <span class="input-group-addon btn" ng-click="openTo($event)"><i class="glyphicon glyphicon-calendar">
            </i></span>
          </div>
        </div>
      </div>
    </div><!--/row-->
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary pull-right">Apply filter</button>
      </div>
      <div class="col-md-6">
        <button class="btn">Clear filter</button>
      </div>
    </div>
  </div>
 </div>   
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-bordered">
        <tr class="table-heading">
          <th>Code</th>
          <th>Opening</th>
          <th>Wiredia</th>
          <th>Width</th>
          <th>Thickness</th>
          <th>Type</th>
          <th>Length</th>
          <th style="width: 10px;"></th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
             <a class=" " ui-sref="modules.editStock">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>             
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a class=" " ui-sref="modules.editStock">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a class=" " ui-sref="modules.editStock">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>

        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a class=" " ui-sref="modules.editStock">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a class=" " ui-sref="modules.editStock">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a class=" " ui-sref="modules.editStock">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a class=" " ui-sref="modules.editStock">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>
        </tr>        
      </table>
    </div>
  </div>
</div>    